<div class="container-lpage">
  <div class="container main">
    <div class="left p-2">
      <h1 class="main-heading">A comprehensive platform for reliable</h1>
      <h2 class="text-white ml12">job opportunities and internships.</h2>
      <h5 class="text-white">Get Discovered. Get Hired.</h5>
      <div class="actions">
        <a href="/jobs" class="btn btn-lg lbtn"> I'm A Job Seeker </a>
        <button
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          class="btn btn-lg lbtn mx-2"
        >
          I'm A Recruiter
        </button>
      </div>
    </div>
    <div class="right">
      <img src="images/banner.png" alt="banner" />
      <!-- <img src="https://files.codingninjas.in/438375-17407.webp" alt="banner" /> -->
    </div>
  </div>
</div>
<!-- Modal for registeration -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title bold" id="staticBackdropLabel">
          Experience easily!
        </h3>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/register" method="post" class="p-2">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Name</span>
              <input
                required
                name="name"
                type="text"
                aria-label="name"
                class="form-control"
                placeholder="enter your name"
              />
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input
                required
                name="email"
                type="email"
                aria-label="email"
                class="form-control"
                placeholder="enter your email"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input
                required
                name="password"
                type="password"
                aria-label="password"
                class="form-control"
                placeholder="enter your password"
              />
            </div>
          </div>

          <button type="submit" class="btn btn-md mt-2 lbtn">Register</button>
        </form>
      </div>
      <div
        class="modal-footer d-flex align-items-centre justify-content-between"
      >
        <div
          class="left d-flex flex-row align-items-centre justify-content-centre"
        >
          <!-- Button trigger login modal -->
          <span>Already registered?</span>
          <button
            type="button"
            class="btn btn-sm px-3 btn-outline-success"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            login
          </button>
        </div>
        <div class="right">
          <a href="#"><i class="text-primary bi bi-twitter"></i></a>
          <a href="#"><i class="text-danger bi bi-instagram"></i></a>
          <a href="#"><i class="text-info bi bi-facebook"></i></a>
          <a href="#"><i class="text-success bi bi-whatsapp"></i></a>
          <a href="#"><i class="text-primary bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for registeration -->

<!-- Modal for login -->

<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">
          Experience easily!
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/login" method="post" class="p-2">
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Email</span>
              <input
                required
                name="email"
                type="email"
                aria-label="email"
                class="form-control"
                placeholder="enter your email"
              />
            </div>
          </div>
          <div class="mb-3">
            <div class="input-group">
              <span class="input-group-text">Password</span>
              <input
                required
                name="password"
                type="password"
                aria-label="password"
                class="form-control"
                placeholder="enter your password"
              />
            </div>
          </div>

          <button type="submit" class="btn btn-md mt-2 lbtn">Login</button>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-sm btn-danger"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal for login -->

<script>
  var textWrapper = document.querySelector(".ml12");
  textWrapper.innerHTML = textWrapper.textContent.replace(
    /\S/g,
    "<span class='letter'>$&</span>"
  );

  anime
    .timeline({ loop: true })
    .add({
      targets: ".ml12 .letter",
      translateX: [40, 0],
      translateZ: 0,
      opacity: [0, 1],
      easing: "easeOutExpo",
      duration: 1200,
      delay: (el, i) => 500 + 30 * i,
    })
    .add({
      targets: ".ml12 .letter",
      translateX: [0, -30],
      opacity: [1, 0],
      easing: "easeInExpo",
      duration: 1100,
      delay: (el, i) => 100 + 30 * i,
    });
</script>
