.error-box
{
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.top
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}